body{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(food.jpg) no-repeat;
    background-size:cover;
    height:100vh;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
}

ul{
    float:left;
}
ul li{
    margin-top:2rem;
    display:inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    border:1px solid transparent;
    padding:5px 20px;
    margin-right: 1rem;
    transition:0.3s ease-in;
}
ul li a:hover{
    background-color: #fff;
    color:black;
}
ul li.active a{
    background-color:white;
    color:black;
}
/* .main{
    max-width: 1200px;

} */

.food_wrapper{
    color:rgb(243, 241, 241);
    position:absolute;
    top:30%;
    left: 40%;
    /* transform: translate(-50%,-50%); */
}

.food_wrapper h1{
    text-align: center;
    font-size: 3rem;
}
p{
    text-align:center;
}

.form_code{
    text-align: center;
}

.form_code .post_code {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border:none;
	outline:none;
}

.form_code button{                            
    width:20%;
    padding: .6rem;
    border-radius:2rem;
    border:none;
    margin-top: 1rem;
    background-color: cadetblue;
    border:none;
    outline: none;

}